@media (max-width:1300px) {
    .p1_title {
        font-size: 95px;
    }
    .playerOne {
        width: 45%;
    }
    .p2_title {
        font-size: 95px;
    }
    .playerTwo {
        width: 45%;
    }
    .pl_two_btn {
        width: 32.5%;
    }
}

@media (max-width:1250px) {
    .p1_title {
        font-size: 85px;
    }
    .playerName {
        left: 60%;
    }
    .pl_one_input {
        width: 60%;
    }
    .p2_title {
        font-size: 85px;
    }
    .pl_two_input {
        width: 60%;
    }
    .pl_two_btn {
        width: 32.5%;
    }
}
@media (max-width:1200px) {
    .p1_title {
        font-size: 75px;
    }
    .playerName {
        left: 60%;
    }
    .pl_one_input {
        width: 60%;
    }
    .p2_title {
        font-size: 75px;
    }
    .pl_two_input {
        width: 60%;
    }
    .pl_two_btn {
        width: 32.5%;
    }
}
@media (max-width:1150px) {
    .p1_title {
        font-size: 75px;
    }
    .playerName {
        left: 60%;
    }
    .pl_one_input {
        width: 60%;
    }
    .p2_title {
        font-size: 75px;
    }
    .pl_two_input {
        width: 60%;
    }
    .pl_two_btn {
        width: 32.5%;
    }
}
@media (max-width:1100px) {
    .p1_title {
        font-size: 75px;
    }
    .playerName {
        left: 60%;
    }
    .pl_one_input {
        width: 60%;
    }
    h1 {
        font-size: 24px;
    }
    .p2_title {
        font-size: 75px;
    }
    .pl_two_input {
        width: 60%;
    }
    .p2_type {
        font-size: 24px;
    }
    .pl_two_btn {
        width: 32.5%;
    }
}
@media (max-width:1050px) {
    .p1_title {
        font-size: 65px;
    }
    .playerName {
        left: 65%;
    }
    .pl_one_input {
        width: 70%;
    }
    h1 {
        font-size: 23px;
    }
    .p2_title {
        font-size: 65px;
    }
    .pl_two_input {
        width: 70%;
    }
    .p2_type {
        font-size: 23px;
    }
    .pl_two_btn {
        width: 32.5%;
    }


}
@media (max-width:1000px) {
    .p1_title {
        font-size: 35px;
    }
    .playerName {
        left: 60%;
    }
    .pl_one_input {
        width: 60%;
    }
    .p2_title {
        font-size: 35px;
    }
    .pl_two_input {
        width: 60%;
    }
    .pl_two_btn {
        width: 32.5%;
    }

}